# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Student files
scripts/
photos/

# Log files
*.log

# VSCode settings
.vscode/

# Virtual environments
env/
venv/

# Earlier manual backups, soon to become obsolete
early_backups/

# Temporary files
*.tmp
.DS_Store
.git.bak
